.form {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    background: white;
    box-shadow: 1px 1px 2px 1px rgba(151, 150, 150, 0.658);
    padding: 20px 20px 0 20px;
}

.new-post {
    color: #FF9770;
    font-size: 2.7rem;
    margin-top: 0;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
}

.url {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 97%;
}

.title-text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -80%;
}

.url-text {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: -76%;
}

.content-text {
    margin-bottom: 0;
    margin-left: -78%;
}

.title-input {
    width: 95%;
    margin-bottom: 30px;
}

.url-input {
    width: 95%;
}

.content-input {
    width: 95%;
    height: 70px;
}

.form-image {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(151, 150, 150, 0.658);
    min-width: 400px;
    min-height: 250px;
}

.new-post-container {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.post-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%
}

.post {
    border: none;
    background: #403D39;
    color: white;
    height: 30px;
    width: 50px;
    box-shadow: 1px 1px 2px 1px rgba(151, 150, 150, 0.658);
    padding-bottom: 24px;
}