.dashboard {
    display: flex;
    height: 100%;
    width: 100%;
    background: blue;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.input-and-buttons {
    display: flex;
    align-items: center;
}

.search-bar {
    height: 23px;
}

.search-button {
    background: #FF9770;
}

.reset {
    border: none;
    background: #403D39;
    color: white;
    height: 23px;
    width: 75px;
}

.filter-container {
    display: flex;
    align-items: center;
}