.dashboard {
    display: flex;
    height: 100%;
    width: 100%;
    background: #F2F2F2;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    background: white;
    box-shadow: 1px 1px 2px 1px rgba(151, 150, 150, 0.658);
    padding: 0 20px 0 20px;
    margin-bottom: 15px;
}

.input-and-buttons {
    display: flex;
    align-items: center;
}

.search-bar {
    height: 30px;
    width: 30vw;
}

.search-button {
    height: 30px;
    margin: 0 5px 0 5px;
}

.reset {
    border: none;
    background: #403D39;
    color: white;
    height: 30px;
    width: 50px;
    box-shadow: 1px 1px 2px 1px rgba(151, 150, 150, 0.658);
    margin-left: 5px;
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-text {
    font-weight: 400;
}

.filter {
    margin-top: 10px;
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    background: white;
    box-shadow: 1px 1px 2px 1px rgba(151, 150, 150, 0.658);
    padding: 20px 20px 0 20px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px 1px rgba(151, 150, 150, 0.658);
    width: 99.7%;
    height: auto;
    margin: 0 0 20px 0;
    padding: 10px;
}

.content {
    font-weight: 400;
}

.search-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.user {
    display: flex;
    align-items: center;
}

.post-user-image {
    margin: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 7px rgb(44, 44, 44);
}

.post-user-name {
    margin: 10px;
    font-weight: 400;
}