.post-details {
    background: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.post-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    background: white;
    box-shadow: 1px 1px 2px 1px rgba(151, 150, 150, 0.658);
    padding: 20px 20px 0 20px;
    margin-top: 30px;
}