.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100px;
    background: linear-gradient( #FF9770, #FF70A6);
    box-shadow: 3px 3px 10px rgb(128, 109, 109);
    z-index: 1;
    position: relative;
}

.user-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: white;
    margin: 30px 0 -10px 0;
    box-shadow: 0 0 15px rgb(44, 44, 44);
}

.username {
    color: white;
    font-weight: 400;
    margin-bottom: 35px;
}

.nav-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.home-new-container {
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
}

.logout {
    height: 50px;
}

.home {
    height: 50px;
}

.new-post {
    height: 50px;
}

.user-head {
    font-weight: 400;
}