.auth {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(100deg, #FF70A6, #FF9770, #FFD760, #E9FF70)
}

.auth-container {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 5px 10px #403D39;
    border-radius: 10px;
    min-width: 300px;
    width: 30%;
    height: 500px;
    justify-content: center;
    background: linear-gradient(100deg, #FF9770, #FFD760)
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.logo-image {
    height: 150px;
}

.logo-text {
    font-size: 5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 
/* .username-input::before {
    content: 'Username:';
} */


/* .password-input::before {
    content: 'Password: ';
} */

.login-buttons-container {
    display: flex;
    justify-content: center;
}

.login {
    border: none;
    background: #403D39;
    color: white;
    margin-right: 30px;
    height: 30px;
    width: 75px;
}

.register {
    border: none;
    background: #403D39;
    color: white;
    margin-left: 30px;
    height: 30px;
    width: 75px;
}