.auth {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(100deg, #FF70A6, #FF9770, #FFD760, #E9FF70)
}

.auth-container {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 5px 10px #403D39;
    border-radius: 10px;
    min-width: 300px;
    width: 30%;
    height: 530px;
    justify-content: center;
    background: linear-gradient(100deg, #FF9770, #FFD760);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.logo-image {
    height: 150px;
    margin-bottom: -30px;
}

.logo-text {
    font-size: 4.5rem;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-input {
    margin: 5px;
    height: 30px;
}

.password-input {
    margin: 5px;
    height: 30px;
}

.login-buttons-container {
    display: flex;
    justify-content: center;
}

.login {
    border: none;
    background: #403D39;
    color: white;
    margin-right: 30px;
    height: 30px;
    width: 75px;
    margin: 30px;
    box-shadow: 1px 1px 5px rgb(151, 150, 150);
}

.register {
    border: none;
    background: #403D39;
    color: white;
    margin-left: 30px;
    height: 30px;
    width: 75px;
    margin: 30px;
    box-shadow: 1px 1px 5px rgb(151, 150, 150);
}

.username-container {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.password-container {
    display: flex;
    color: white;
    align-items: center;
}

.p {
    margin-right: 5px;
}